[submodule "mariadb-connector-c"]
	path = thirdparty/mariadb-connector-c
	url = https://github.com/mariadb-corporation/mariadb-connector-c.git
	ignore = all
[submodule "thirdparty/crypto/tiny-AES-c"]
	path = thirdparty/crypto/tiny-AES-c
	url = https://github.com/kokke/tiny-AES-c.git
[submodule "thirdparty/crypto/RHash"]
	path = thirdparty/crypto/RHash
	url = https://github.com/rhash/RHash.git
