*.exe
.pgo-data
/tests/*.js
/tests/*.py
/dist
.github/*
*.sqlite
*.so
*.js
win32
dist
**/*.a
**/*.dll
**/*.lib
**/*.exp
**/*.pdb
**/*.obj
**/*.lib
**/*.exp
**/*.pdb
**/*.obj
**/*.lib
**/*.exp
**/*.pdb
**/*.o
tinycc